<div class="main-container">
    <header>
        <div class="left"><img src="/assets/images/logo-black.svg" alt="logo"></div>
        <div class="right"><a class="contact-us-text" href="#">Contact us</a></div>
    </header>

    <section class="section1">
        <div class="section-container">
            <div class="left">
                <h1>Breathe New Life Into Your Business</h1>
                <p>We are advisors, engineers, and designers solving business challenges with innovative technology solutions</p>
                <div class="btn-container">
                    <button class="btn1">
                        <span class="btn1-text">Case studies</span>
                        <img class="ball" src="/assets/images/ball-btn.svg" alt="ball">
                    </button>
                    <button class="btn2">
                        <span class="btn2-text">What we offer</span>
                        <img class="play" src="/assets/images/play-btn.svg" alt="play">
                    </button>
                </div>
            </div>
            <div class="right">
                <img class="frame" src="/assets/images/Frame-2.png" alt="frame">
                <img src="/assets/images/icon.svg" alt="">
            </div>
        </div>
    </section>

    <section class="section2">
        <h2 class="section2-h2">Who we are</h2>
        <p class="section2-p">We are advisors, engineers, and designers solving business challenges with innovative technology solutions</p>
    </section>

    <section class="section3">
        <h2 class="section3-h2">Services We Deliver</h2>

        <div class="card-container">
            <div class="card1">
                <img src="/assets/images/IT-Consulting.png" alt="card1-img">
                <p class="card1-p">IT Consulting (Discovery Face)</p>

                <div class="card-hover">
                    <p>.</p>
                </div>
            </div>

            <div class="card2">
                <img src="/assets/images/UIUX-Design.png" alt="card2-img">
                <p class="card2-p">UI & UX Design</p>

            </div>

            <div class="card3">
                <img src="/assets/images/MVP-MMP.png" alt="card3-img">
                <p class="card3-p">MVP & MMP</p>
            </div>

            <div class="card4">
                <img src="/assets/images/App-Development.png" alt="card4-img">
                <p class="card4-p">App Development</p>
            </div>

            <div class="card5">
                <img src="/assets/images/Web-Development.png" alt="card5-img">
                <p class="card5-p">Web Development</p>
            </div>

            <div class="card6">
                <img src="/assets/images/PWA-SPA.png" alt="card6-img">
                <p class="card6-p">PWA & SPA Development</p>
            </div>

            <div class="card7">
                <div class="contact-us">
                    <p>CONTACT US</p>
                </div>
                <p class="card7-p">Not Sure What You Need?</p>
            </div>
        </div>
    </section>

    <section class="section4">
        <h2 class="title-section4">Your vision plus our expertise equals new impulse to your growth.</h2>
    </section>

    <section class="section5">
        <div class="left">
            <h2>Solutions</h2>
            <p class="solutions-text">We are advisors, engineers, and designers solving business challenges with innovative technology solutions</p>
            <p class="text active">Education</p>
            <p class="text">Healthcare</p>
            <p class="text">Financial Services</p>
            <p class="text">Social Media</p>
            <p class="text">Retail</p>
            <p class="text">Logistics & Distribution</p>
            <p class="text">Consumer Goods</p>
            <p class="text text-last">Can't find the right solution?</p>
        </div>
        <div class="right">
            <div class="first-solution">
                <img src="/assets/images/education.svg" alt="education-img">
                <p>Our specialists can create an efficient LMS for your company. Provide a better learning experience for students and simplified management for staff with our learning management systems. You’ll get a friendly interface, feedback features, simple customization, and more!</p>
                <a class="solution-link" href="">Go to this solution</a>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
</div>